.green {
  background-color: green;
  width: 150px;
  height: 150px;
}

.red {
  background-color: red;
  width: 150px;
  height: 150px;
}

.blue {
  background-color: blue;
  width: 150px;
  height: 150px;
}
body {
  display: flex;
  div {
    margin: 1rem;
  }
}
