@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgb(245, 242, 200);
  .container__logo {
    cursor: pointer;
    img {
      height: 35px;
      width: 120px;
      margin: 15px 0 0 62px;
    }
  }
  .container__border {
    background-color: rgb(245, 242, 200);
    border: 1px solid black;
    height: 37vw;
    display: flex;

    .border {
      width: 95%;
      height: 85%;
      margin: 2.5rem auto;
      display: flex;
      flex-direction: column;

      .border__left {
        display: flex;
        justify-content: space-between;
        flex: 1;
        img {
          width: 6rem;
          height: 6rem;
        }
        .border__line1 {
          width: 100%;
          border-top: 5px solid rgb(100, 100, 161);
        }
        .left2 {
          transform: rotate(90deg);
        }
      }
      .border__line2 {
        height: 100%;
        border-left: 5px solid rgb(100, 100, 161);
        border-right: 5px solid rgb(100, 100, 161);
      }
      .border__right {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: flex-end;
        img {
          width: 6rem;
          height: 6rem;
        }
        .right1 {
          transform: rotate(270deg);
        }
        .right2 {
          transform: rotate(180deg);
        }
        .border__line3 {
          width: 100%;
          border-bottom: 5px solid rgb(100, 100, 161);
        }
      }
    }
  }
}
